@import "../../../assets/variables";

.message-form {
  .input-container {
    background-color: #eee;
    border-radius: 12px;

    input {
      padding: 0 20px;
      color: #333;
      font-family: Arial, Helvetica, sans-serif;
    }

    button {
      display: flex;
      padding: 10px;
      border: none;
      background-color: transparent;
      color: $primary;

      svg {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .message-form {
    .input-container {
      input {
        font-size: 0.9em;
      }
    }
  }
}
