$primary: #4491d6;
$primary-sub: #00b4ff;
$complementary: #e6f4f1;
$secondary: #df9f1f;
$ease-in-out: all ease-in-out 0.2s;
$ease-in-out-slower: all ease-in-out 0.5s;
$sans: "Expletus Sans", cursive;
$poppins: "Poppins", sans-serif;
